Repository pygame/pygame, pull requests merged in 2019-11, with the labels that each got.

#1482 OpenGL screen size from set_mode as requested.
  src_c/display.c
  test/display_test.py
Labels: display

#1472 expose window, renderer created by display.c to _sdl2 video
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/cython/pygame/_sdl2/video.pyx
Labels: video

#1495 Fix failing freetype test
  test/freetype_test.py
Labels: freetype

#1496 SDL2: Add video_test.py and test Renderer.set_viewport.
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pyx
  test/video_test.py
Labels: video

#1494 Added border_radius keyword for draw.rect and drawing of one circle quadrant, fixed bounding rects
  docs/reST/ref/code_examples/draw_module_example.png
  docs/reST/ref/code_examples/draw_module_example.py
  docs/reST/ref/draw.rst
  src_c/doc/draw_doc.h
  src_c/draw.c
  test/draw_test.py
Labels: draw

#1504 Comment out (using #if 0) unused SDL_gfx code
  src_c/SDL_gfx/SDL_gfxPrimitives.c
  src_c/SDL_gfx/SDL_gfxPrimitives.h
Labels: gfxdraw

#1505 Add missing midi init checks
  src_py/midi.py
Labels: midi
