Repository pygame/pygame, pull requests merged in 2019-09, with the labels that each got.

#1275 Custom_type skipping first 2 userevent id
  src_c/event.c
Labels: event

#1277 Add/update event tests
  test/event_test.py
Labels: event

#1279 Update sprite collide_mask() documentation
  docs/reST/ref/mask.rst
  docs/reST/ref/sprite.rst
  src_c/doc/sprite_doc.h
Labels: docs

#1282 Exception fix for invalid gfxdraw.bezier() steps
  src_c/gfxdraw.c
Labels: gfxdraw

#1284 Add header guard to scrap.h
  src_c/scrap.h
Labels: scrap

#1299 Fix doc build error with newer versions of Sphinx
  docs/reST/ext/customversion.py
Labels: docs

#1301 Add some Mask tests related to bit boundaries
  test/mask_test.py
Labels: mask

#1303 Fix bitwise shifts to avoid undefined behavior
  src_c/bitmask.c
Labels: mask

#1309 Add bounding rect tests for rect, polygon, and arc
  test/draw_test.py
Labels: draw

#1310 Fix draw.lines bounding rect
  src_c/draw.c
  test/draw_test.py
Labels: draw

#1315 Fix math.c compiler warning
  src_c/math.c
Labels: math

#1318 Fix mask.c compiler warnings
  src_c/mask.c
  test/mask_test.py
Labels: mask

#1319 Fix imageext.c compiler warning
  src_c/imageext.c
Labels: image

#1323 Fix color.c compiler warnings
  src_c/color.c
Labels: Color

#1324 Fix rect.c compiler warnings
  src_c/rect.c
Labels: rect

#1326 Fix freetype.Font dest parameter check
  src_c/_freetype.c
  test/freetype_test.py
Labels: freetype

#1327 Fix some event.c compiler warnings
  src_c/event.c
Labels: event

#1330 Fix some font related warnings/issues
  src_c/font.c
  src_c/include/pygame_font.h
Labels: font

#1331 Fix mask.c Coverity issues
  src_c/mask.c
Labels: mask

#1334 Add PyList_Append return code checking in mask.c
  src_c/mask.c
Labels: mask

#1336 Fix some mixer related compiler warnings
  src_c/include/pygame_mixer.h
  src_c/mixer.c
Labels: mixer

#1337 Fix some surface.c Coverity issues
  src_c/surface.c
Labels: Surface

#1345 Fix event get() and peek() not working correctly
  src_c/event.c
  test/event_test.py
Labels: event

#1344 Update event.get_blocked() documentation
  docs/reST/ref/event.rst
  src_c/doc/event_doc.h
Labels: docs

#1346 Fix image.c and imageext.c Coverity issues
  src_c/image.c
  src_c/imageext.c
Labels: image

#1347 Fix some surface compiler warnings
  src_c/surface.c
Labels: Surface
