Repository pygame/pygame, pull requests merged in 2019-05, with the labels that each got.

#965 Vector: Add radian rotation functions
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
  src_c/math.c
  test/math_test.py
Labels: math

#821 experimental _sdl2.mixer module with post_mix()
  buildconfig/Setup.SDL2.in
  examples/audiocapture.py
  src_c/_sdl2/mixer.c
  src_c/_sdl2/mixer.pxd
  src_c/_sdl2/mixer.pyx
Labels: dont-merge

#883 SDL2: _sdl2.Texture, Image & Renderer
  examples/sprite_texture.py
  examples/video.py
  src_c/_pygame.h
  src_c/_sdl2/video.pxd
  src_c/_sdl2/video.pyx
  src_c/color.c
  src_c/include/_pygame.h
Labels: SDL2

#901 SDL2: starting _sdl2.controller API.
  buildconfig/Setup.SDL2.in
  src_c/_sdl2/controller.c
  src_c/_sdl2/controller.pxd
  src_c/_sdl2/controller.pyx
  src_c/constants.c
  src_c/event.c
Labels: 2.1, joystick

#947 draw.circle(): accept Vector2
  src_c/draw.c
  test/draw_test.py
Labels: draw, math

#1015 Add mixer.music.unload()
  docs/reST/ref/music.rst
  src_c/doc/music_doc.h
  src_c/music.c
  test/mixer_music_test.py
Labels: mixer.music

#832 SDL2: allow set_mode to "logical" screen size, scaled to actual screen
  examples/testsprite.py
  src_c/_pygame.h
  src_c/constants.c
  src_c/display.c
  src_c/mouse.c
Labels: SDL2, display

#1039 SDL2: scale up set_mode(flags=SCALED)
  docs/reST/ref/display.rst
  examples/testsprite.py
  src_c/_pygame.h
  src_c/constants.c
  src_c/display.c
  src_c/mouse.c
  test/display_test.py
Labels: 2.0

#1042 _sdl2.video docs fixes
  src_c/_sdl2/video.pyx
Labels: 2.1

#1043 Fix range check and example for _sdl2.video
  examples/video.py
  src_c/_sdl2/video.pyx
Labels: 2.1

#1047 Fix error in display.flip()
  src_c/display.c
Labels: 2.0, display

#1044 set_mode(): window was sometimes destroyed twice
  src_c/display.c
Labels: display

#1046 Fix SCALED for existing windows and improve test
  docs/reST/ref/display.rst
  src_c/display.c
  src_c/doc/display_doc.h
  test/display_test.py
Labels: 2.0, display

#1041 pgRWops_FromObject: Fail if an object is not a file object
  src_c/font.c
  src_c/image.c
  src_c/mixer.c
  src_c/rwobject.c
  test/imageext_test.py
Labels: rwops

#1045 pg_SetDefaultWindowSurface() would not destroy owned surfaces
  src_c/base.c
Labels: 2.0, display

#1055 Add pygame.Color slice assignment
  src_c/_pygame.h
  src_c/color.c
  src_c/include/_pygame.h
Labels: Color

#1063 Use pygame.Color and pygame.Rect in _sdl2.video
  src_c/_sdl2/video.pxd
  src_c/_sdl2/video.pyx
Labels: 2.1

#1065 Faster Texture/Image.draw()
  src_c/_sdl2/video.c
  src_c/_sdl2/video.pxd
  src_c/_sdl2/video.pyx
Labels: 2.1

#1059 Implement buffer interface for pygame.Mask
  src_c/include/pygame_mask.h
  src_c/mask.c
  test/mask_test.py
Labels: mask

#1069 Cythonized sprite module
  buildconfig/Setup.SDL1.in
  buildconfig/Setup.SDL2.in
  setup.py
  src_c/_sdl2/video.c
  src_c/_sdl2/video.pxd
  src_c/_sdl2/video.pyx
  src_c/_sprite.c
  src_c/_sprite.pyx
  src_c/include/_pygame.h
  test/sprite_test.py
Labels: sprite
