Repository pygame/pygame, pull requests merged in 2019-07, with the labels that each got.

#1127 Add new GL attribute constants and more docs
  docs/reST/ref/display.rst
  src_c/constants.c
Labels: SDL2, display

#1132 Add bounding rect tests for draw lines and circle
  test/draw_test.py
Labels: draw

#1131 Mask.to_surface: Add setsurface/unsetsurface params.
  docs/reST/ref/mask.rst
  src_c/doc/mask_doc.h
  src_c/mask.c
  test/mask_test.py
Labels: mask

#1137 Fix to_surface incorrectly using width values
  src_c/mask.c
  test/mask_test.py
Labels: mask

#1159 This test keeps failing on appveyor sometimes.
  test/mixer_test.py
Labels: mixer

#1170 Add bounding rect tests for draw aaline and aalines
  test/draw_test.py
Labels: draw

#1173 Add some to_surface() tests
  test/mask_test.py
Labels: mask

#1176 Draw circles with the old and aesthetically pleasing Bresenham algorithm
  src_c/draw.c
  test/draw_test.py
Labels: 2.0, draw, minor

#1180 fixed wrong variable array index. closes #1179
  src_c/time.c
Labels: time

#1168 Clarify that Color.lerp works in RGBA space
  docs/reST/ref/color.rst
Labels: docs

#1204 SDL2: Fix event init not returning correct result
  src_c/event.c
  test/base_test.py
Labels: event

#1208 Drawing ellipse/circle/arc with width > radius
  docs/reST/ref/draw.rst
  src_c/draw.c
  test/draw_test.py
Labels: draw
