Repository pygame/pygame, pull requests merged in 2019-08, with the labels that each got.

#1225 Fix SDL_WINDOWEVENT event identified as 'Unknown'
  src_c/event.c
  test/event_test.py
Labels: event

#1226 Fix zero sized rects collision #1197
  src_c/rect.c
  test/rect_test.py
Labels: rect

#1228 Add some mouse tests
  test/mouse_test.py
Labels: mouse

#1232 Fix inconsistencies when deleting Rect attributes
  src_c/rect.c
  test/rect_test.py
Labels: rect

#1234 Mask.to_surface: Add dest parameter
  docs/reST/ref/mask.rst
  src_c/doc/mask_doc.h
  src_c/mask.c
  test/mask_test.py
Labels: mask

#1235 Make convert_alpha set SRCALPHA with SDL2
  src_c/surface.c
  test/surface_test.py
Labels: SDL2, Surface, bug

#1242 Add bounding rect test for draw ellipse
  test/draw_test.py
Labels: draw

#1243 Update the circle bounding rect test
  test/draw_test.py
Labels: draw

#1248 Update event documentation
  docs/reST/ref/event.rst
Labels: docs

#1247 Update key documentation
  docs/reST/ref/key.rst
  src_c/doc/key_doc.h
Labels: docs

#1259 Remove duplicate constants
  src_c/constants.c
Labels: SDL2

#1256 Fix drop event name issue
  src_c/event.c
  test/event_test.py
Labels: 2.1

#1175 simple scrap module based on SDL2 clipboard
  buildconfig/Setup.SDL2.in
  src_c/scrap.c
  src_c/scrap_sdl2.c
Labels: 2.0, SDL2, needs-review, scrap

#1268 Add Mask centroid() tests
  test/mask_test.py
Labels: mask

#1271 Add/update Mask to_surface() tests
  test/mask_test.py
Labels: mask

#1253 Prevent possible redefinition of SDL_NUMEVENTS
  src_c/_pygame.h
  src_c/constants.c
  src_c/event.c
  src_c/mixer.c
  src_c/time.c
Labels: event
