Repository pygame/pygame, pull requests merged in 2019-10, with the labels that each got.

#1348 Fix some display compiler warnings
  src_c/display.c
Labels: display

#1353 Fix a video.c Coverity issue
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pyx
Labels: video

#1358 Fix exceptions from freetype kerning being enabled
  src_c/freetype/ft_render.c
  test/freetype_test.py
Labels: freetype

#1360 Fix a display.c compiler warning
  src_c/display.c
Labels: display

#1361 Fix mask's overlap_mask()/draw() out-of-bounds accesses
  src_c/bitmask.c
Labels: mask

#1369 Initialize freetype.get_error() data
  docs/reST/ref/freetype.rst
  src_c/doc/freetype_doc.h
  src_c/freetype/ft_wrap.c
  test/freetype_test.py
Labels: freetype

#1371 WIP: Try and get unicode field working for keydown.
  src_c/event.c
Labels: key

#1375 Add kwargs to Sprite and sprite Group `update`
  src_py/sprite.py
  test/sprite_test.py
Labels: sprite

#1376 Fix encode_string()/encode_file_path() segfaults
  src_c/rwobject.c
  test/rwobject_test.py
Labels: pygame (module)

#1377 Update freetype render_raw_to() documentation
  docs/reST/ref/freetype.rst
  src_c/doc/freetype_doc.h
Labels: docs

#1367 Mac sdlmain cleanups.
  src_c/sdlmain_osx.m
Labels: mac

#1385 Fix some display.c Coverity issues
  src_c/display.c
Labels: display

#1387 Add some Mask to_surface() tests
  test/mask_test.py
Labels: mask

#1388 Update Sprite.update and sprite Group.update docs
  docs/reST/ref/sprite.rst
  src_c/_sprite.c
  src_c/cython/pygame/_sprite.pyx
  src_c/doc/sprite_doc.h
Labels: docs

#1393 Zero and negative sized circles do not draw anything or raise.
  src_c/draw.c
  test/draw_test.py
Labels: draw

#1407 Resynchronize auto generated header files
  src_c/doc/sprite_doc.h
  src_c/doc/transform_doc.h
Labels: docs

#1408 Update draw circle() documentation
  docs/reST/ref/draw.rst
Labels: docs

#1412 Fix compile error due to missing declaration
  src_c/event.c
Labels: event

#1425 Fix examples/fastevents.py raising NameError exception
  examples/fastevents.py
Labels: examples

#1440 Fix an event.c compiler warning
  src_c/event.c
Labels: event

#1441 set_mode and SCALED improvements
  examples/setmodescale.py
  src_c/display.c
Labels: SDL2, display

#1442 music fade in and example
  docs/reST/ref/music.rst
  examples/README.rst
  examples/music_drop_fade.py
  src_c/music.c
Labels: mixer.music

#1450 Warnings warnings oh warnings
  .travis.yml
  buildconfig/ci/travis/.travis_osx_install.sh
  src_c/SDL_gfx/SDL_gfxPrimitives.c
  src_c/_freetype.c
  src_c/bitmask.c
  src_c/cython/pygame/pypm.pyx
  src_c/display.c
  src_c/event.c
  src_c/freetype/ft_render_cb.c
  src_c/freetype/ft_wrap.c
  src_c/freetype/ft_wrap.h
  src_c/image.c
  src_c/mouse.c
  src_c/pypm.c
Labels: tooling

#1453 Add support for a Rect clipline() method
  docs/reST/ref/rect.rst
  src_c/doc/rect_doc.h
  src_c/rect.c
  test/rect_test.py
Labels: rect

#1462 Download python3.8 if it doesn't exist on appveyor.
  .appveyor.yml
Labels: tooling
