Repository pygame/pygame, pull requests merged in 2019-03, with the labels that each got.

#861 SDL2: fix mixer errors, mixer.init(..., allowchanges=0)
  docs/reST/ref/mixer.rst
  src_c/constants.c
  src_c/doc/gfxdraw_doc.h
  src_c/doc/mixer_doc.h
  src_c/mixer.c
  test/fastevent_tags.py
  test/mixer_test.py
Labels: 2.0, mixer

#865 SDL2: freetype issues
  src_c/freetype/ft_render.c
  test/freetype_test.py
Labels: 2.0

#868 SDL2: Fix surfarray alpha.
  src_c/pixelcopy.c
  test/surfarray_test.py
Labels: 2.0, surfarray

#866 SDL2: Save PNGs correctly
  buildconfig/Setup.SDL2.in
  buildconfig/config_win.py
  buildconfig/download_win_prebuilt.py
  src_c/imageext.c
Labels: 2.0

#872 AppVeyor: Enable SDL2 builds
  .appveyor.yml
  src_c/display.c
  test/cursors_test.py
  test/sndarray_test.py
Labels: 2.0

#891 magnitude() for math.Vector2
  src_c/math.c
Labels: math

#820 Touch module
  buildconfig/Setup.SDL2.in
  docs/rest/ref/touch.rst
  src_c/_sdl2/touch.c
  src_c/doc/touch_doc.h
  test/touch_tags.py
  test/touch_test.py
Labels: 2.1, touch

#904 Fix Python 2 integer check
  src_c/_sdl2/touch.c
  src_c/doc/touch_doc.h
Labels: touch

#886 SDL2: Add drop events
  examples/dropevent.py
  src_c/constants.c
  src_c/event.c
Labels: 2.1, event

#906 Build and enable tests for fastevent with SDL2.
  buildconfig/Setup.SDL2.in
  test/fastevent_tags.py
Labels: 2.0

#880 Make ScancodeWrapper subclassable
  src_c/key.c
Labels: 2.0, key

#908 SDL2: Implement display.Info()
  src_c/_pygame.h
  src_c/display.c
  test/display_test.py
Labels: 2.0

#894 Update pgRWops API
  docs/reST/c_api/rwobject.rst
  src_c/_freetype.c
  src_c/_pygame.h
  src_c/font.c
  src_c/image.c
  src_c/imageext.c
  src_c/mixer.c
  src_c/music.c
  src_c/rwobject.c
Labels: rwops

#909 Update Surface docs.
  docs/reST/ref/surface.rst
Labels: Surface

#924 Upload .whl binaries to a github draft release when creating tag.
  .appveyor.yml
  .travis.yml
  setup.py
Labels: 1.9.5

#929 Use SDL_RWops instead of pg_FopenUTF8.
  src_c/_pygame.h
  src_c/base.c
  src_c/imageext.c
Labels: 1.9.5, image, rwops

#940 Update macro version
  src_c/_pygame.h
Labels: 2.0

#935 Vector: allow chaining of in-place methods
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
  src_c/math.c
  test/math_test.py
Labels: 1.9.5, math

#934 Add Vector2.set() and Vector3.set()
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
  src_c/math.c
Labels: 1.9.5, math

#945 Vector: Explain slices and swizzling
  docs/reST/ref/math.rst
Labels: math
