Repository pygame/pygame, pull requests merged in 2019-02, with the labels that each got.

#793 Fix warnings reported by charlesej. Close RWops file handle explicitly using pgRWopsReleaseObject().
  src_c/_freetype.c
  src_c/font.c
  src_c/rwobject.c
Labels: font, rwops

#797 Keep surface alpha value for copied surfaces with SRCALPHA flag.
  src_c/surface.c
  test/surface_test.py
Labels: 1.9.5, Surface

#804 Fix bugs in event module
  src_c/event.c
  test/event_test.py
Labels: bug, event

#798 SDL2: Add display.get_wm_info().
  src_c/display.c
Labels: 2.0

#658 Change surface docs to use defaults instead of repeated calls
  src_c/doc/surface_doc.h
Labels: types

#809 Updated one file based off PR #658
  docs/reST/ref/surface.rst
Labels: dont-merge

#845 Fix surf.set_palette() crash
  src_c/surface.c
  test/surface_test.py
Labels: 2.0

#848 gfxdraw tests: only use mask values that work with SDL2
  test/gfxdraw_test.py
Labels: 2.0

#852 SDL2: Use valid masks in surface tests.
  test/surface_test.py
Labels: 2.0, Surface

#858 SDL2: fix remaining surface test failures
  src_c/alphablit.c
  src_c/surface.c
  src_c/surface.h
  src_c/surface_fill.c
  test/surface_test.py
Labels: 2.0, Surface

#862 Fix mask.from_threshold() in SDL2.
  src_c/mask.c
Labels: 2.0, mask
