Repository pygame/pygame, pull requests merged in 2020-05, with the labels that each got.

#1666 Use cibuildwheel to make MacOS .whl files on Travis CI
  .travis.yml
  buildconfig/ci/travis/.travis_osx.sh
  buildconfig/ci/travis/.travis_osx_after_success.sh
  buildconfig/ci/travis/.travis_osx_before_install.sh
  buildconfig/ci/travis/.travis_osx_cache_bottles.sh
  buildconfig/ci/travis/.travis_osx_install.sh
  buildconfig/ci/travis/.travis_osx_rename_whl.py
  buildconfig/ci/travis/.travis_osx_utils.sh
  buildconfig/conanconf/conanfile.txt
  buildconfig/config.py
  buildconfig/config_conan.py
Labels: needs-review

#1667 Some docs fixes
  docs/reST/ref/display.rst
  docs/reST/ref/draw.rst
  docs/reST/ref/mixer.rst
  docs/reST/ref/sprite.rst
Labels: docs

#1668 pg_set_icon/SDL2: Remove darwin/MacOSX specific omission
  src_c/display.c
Labels: help wanted, macosx

#1676 Gh 45 fuzzy color matching in all functions
  src_c/_freetype.c
  src_c/_pygame.h
  src_c/color.c
  src_c/draw.c
  src_c/font.c
  src_c/include/_pygame.h
  src_c/surface.c
  test/color_test.py
  test/draw_test.py
  test/freetype_test.py
Labels: Color, enhancement

#1685 Added type hints for pygame
  buildconfig/pygame-stubs/__init__.pyi
  buildconfig/pygame-stubs/_sdl2/__init__.pyi
  buildconfig/pygame-stubs/_sdl2/touch.pyi
  buildconfig/pygame-stubs/bufferproxy.pyi
  buildconfig/pygame-stubs/camera.pyi
  buildconfig/pygame-stubs/color.pyi
  buildconfig/pygame-stubs/constants.pyi
  buildconfig/pygame-stubs/cursors.pyi
  buildconfig/pygame-stubs/display.pyi
  buildconfig/pygame-stubs/draw.pyi
  buildconfig/pygame-stubs/event.pyi
  buildconfig/pygame-stubs/font.pyi
  buildconfig/pygame-stubs/freetype.pyi
  buildconfig/pygame-stubs/gfxdraw.pyi
  buildconfig/pygame-stubs/image.pyi
  buildconfig/pygame-stubs/key.pyi
  buildconfig/pygame-stubs/mask.pyi
  buildconfig/pygame-stubs/math.pyi
  buildconfig/pygame-stubs/midi.pyi
  buildconfig/pygame-stubs/mixer.pyi
  buildconfig/pygame-stubs/mouse.pyi
  buildconfig/pygame-stubs/music.pyi
  buildconfig/pygame-stubs/pixelarray.pyi
  buildconfig/pygame-stubs/pixelcopy.pyi
  buildconfig/pygame-stubs/rect.pyi
  buildconfig/pygame-stubs/scrap.pyi
  buildconfig/pygame-stubs/sndarray.pyi
  buildconfig/pygame-stubs/sprite.pyi
  buildconfig/pygame-stubs/surface.pyi
  buildconfig/pygame-stubs/surfarray.pyi
  buildconfig/pygame-stubs/time.pyi
  buildconfig/pygame-stubs/transform.pyi
  buildconfig/pygame-stubs/version.pyi
  setup.py
Labels: needs-review

#1686 Improve display.get_active and its docs
  docs/reST/ref/display.rst
  src_c/display.c
Labels: display

#1690 Some lgtm fixes
  buildconfig/config_msys.py
  buildconfig/config_unix.py
  examples/glcube.py
  examples/vgrade.py
  src_py/__init__.py
  src_py/freetype.py
  src_py/ftfont.py
  src_py/gp2x/constants.py
  src_py/surfarray.py
  src_py/sysfont.py
Labels: needs-review

#1700 Fixed get_sprites_at() method
  src_py/sprite.py
  test/sprite_test.py
Labels: sprite

#1701 Sound wasn't working in aliens example.
  examples/aliens.py
Labels: examples

#1696 Added type hints for fastevent
  buildconfig/pygame-stubs/__init__.pyi
  buildconfig/pygame-stubs/fastevent.pyi
Labels: types

#1695 Adds Fastevent module documentation
  docs/reST/ref/fastevent.rst
  src_c/doc/fastevent_doc.h
  src_c/fastevent.c
Labels: docs, event, fastevent

#1693 pygame.music.play() looping docs consistent with pygame and SDL behaviour
  docs/reST/ref/music.rst
Labels: docs, mixer.music

#1706 Document BLEND_PREMULTIPLIED Surface.blit flag
  docs/reST/ref/surface.rst
Labels: Surface, docs

#1694 Adds function to pygame.key module to get key code from name of key
  buildconfig/pygame-stubs/key.pyi
  docs/reST/ref/key.rst
  src_c/doc/key_doc.h
  src_c/key.c
  test/key_test.py
Labels: key

#1710 Adds version.SDL to version module, fixes #951
  buildconfig/pygame-stubs/version.pyi
  buildconfig/version.py.in
  docs/reST/ref/pygame.rst
  setup.py
  src_c/doc/pygame_doc.h
  test/version_test.py
Labels: enhancement

#1716 surf_blits: Fix pyref leaks on certain error conditions
  src_c/surface.c
Labels: C code, Code robustness

#1719 SDL1 build fixes
  .travis.yml
  buildconfig/Setup.SDL1.in
  buildconfig/Setup.SDL2.in
  src_c/key.c
  src_c/pgcompat.h
Labels: SDL

#1711 Adds MMX, SSE2 & Arm NEON optimised versions of blit_blend_premultiplied()
  setup.py
  src_c/alphablit.c
  src_c/include/sse2neon.h
  src_c/surface.h
  test/surface_test.py
Labels: Performance, Surface

#1724 small speedup: Use Surface.blits in sprite.Group.draw.
  src_py/sprite.py
  test/sprite_test.py
Labels: Performance, sprite

#1715 Add a SSE4.2 optimized version of image_tostring for some 32bit surfaces
  src_c/image.c
  src_c/include/pgplatform.h
  test/image_test.py
Labels: Performance, image

#1735 Add 'bgcolor' attribute to freetype font to mirror existing 'fgcolor'
  buildconfig/pygame-stubs/freetype.pyi
  docs/reST/ref/freetype.rst
  src_c/_freetype.c
  src_c/doc/freetype_doc.h
  src_c/freetype.h
  test/freetype_test.py
Labels: enhancement, freetype

#1747 Add fuzzy color support for Mask.to_surface
  buildconfig/pygame-stubs/mask.pyi
  docs/reST/ref/mask.rst
  src_c/mask.c
  test/mask_test.py
Labels: mask

#1753 Add pgRect_Normalize to C API
  docs/reST/c_api/rect.rst
  src_c/_pygame.h
  src_c/include/_pygame.h
  src_c/rect.c
Labels: rect

#1772 Add/update Mask.to_surface tests
  test/mask_test.py
Labels: mask

#1817 Some type hint and examples fixes
  buildconfig/pygame-stubs/color.pyi
  buildconfig/pygame-stubs/draw.pyi
  buildconfig/pygame-stubs/event.pyi
  buildconfig/pygame-stubs/fastevent.pyi
  buildconfig/pygame-stubs/font.pyi
  buildconfig/pygame-stubs/freetype.pyi
  buildconfig/pygame-stubs/math.pyi
  buildconfig/pygame-stubs/mixer.pyi
  buildconfig/pygame-stubs/rect.pyi
  buildconfig/pygame-stubs/surface.pyi
  buildconfig/pygame-stubs/version.pyi
  examples/scrap_clipboard.py
  examples/testsprite.py
Labels: reviewed

#1832 SDL 1 CI build fixes
  .travis.yml
  src_c/alphablit.c
  src_c/base.c
  src_c/image.c
  src_c/mask.c
  test/rect_test.py
  test/surface_test.py
  test/video_test.py
Labels: needs-review

#1833 Font type hints - use bool instead of int
  buildconfig/pygame-stubs/font.pyi
Labels: font, types

#1835 Test for Surface.unlock
  test/surface_test.py
Labels: Surface

#1828 Add Aarch64 linux library directory to config_unix.py
  buildconfig/config_unix.py
Labels: needs-review

#1827 Adds test for surface.mustlock()
  test/surface_test.py
Labels: Surface

#1816 MSVC compiler optimisation hinting
  setup.py
  src_c/include/pgplatform.h
Labels: needs-review

#1733 Add an __all__ variable to constants.c
  buildconfig/pygame-stubs/constants.pyi
  src_c/constants.c
  src_py/__init__.py
  src_py/locals.py
Labels: Code robustness, Linters

#1739 sysfont: Update windows, and ubuntu xenial font names and tests.
  src_py/sysfont.py
  test/sysfont_test.py
Labels: enhancement, font, tests (module)

#1730 pygame.examples.glcube updated to use 'modern' API.
  examples/glcube.py
Labels: examples, opengl

#1670 Optimised circle and rect drawing
  src_c/draw.c
  src_c/surflock.c
Labels: draw

#1820 Add /analyze flag to appveyor build and fix some reported warnings
  .appveyor.yml
  setup.py
  src_c/_sdl2/touch.c
  src_c/alphablit.c
  src_c/base.c
  src_c/include/pgimport.h
  src_c/newbuffer.c
  src_c/pgcompat.h
  src_c/pixelarray.c
  src_c/rect.c
Labels: Appveyor, tooling

#1838 setup: Error out on unused-value warnings with -pygame-ci
  setup.py
Labels: Code robustness

#1842 Fixes for the SDL1 build
  docs/reST/c_api/surflock.rst
  src_c/_freetype.c
  src_c/alphablit.c
  src_c/draw.c
  src_c/freetype/ft_render.c
  src_c/image.c
  src_c/imageext.c
  src_c/include/_pygame.h
  src_c/include/pgplatform.h
  src_c/mask.c
  src_c/pgcompat.h
  src_c/pixelarray.c
  src_c/pixelcopy.c
  src_c/scrap.c
  src_c/surface.c
  src_c/surflock.c
  src_c/transform.c
Labels: needs-review

#1849 sysfont._add_font_paths was adding ttf to 'simple font names'.
  src_py/sysfont.py
Labels: macosx, sysfont

#1850 mouse.set_pos on mac needs the window focused it seems.
  test/mouse_test.py
Labels: macosx, mouse

#1853 Font bgcolor SDL1 test fix
  test/freetype_test.py
Labels: needs-review

#1854 Add Mask.to_surface area tests
  test/mask_test.py
Labels: mask

#1858 Fix _pg_rw_write
  src_c/_pygame.h
  src_c/rwobject.c
  test/image_test.py
Labels: image

#1834 Some tweaks to the pre-multiply alpha blending
  src_c/alphablit.c
  src_c/pgcompat.h
  src_c/scrap.c
  src_c/surface.h
  test/surface_test.py
Labels: Surface

#1841 Reject attempts to delete attributes in that cannot be deleted
  buildconfig/Setup.SDL1.in
  buildconfig/Setup.SDL2.in
  src_c/_freetype.c
  src_c/_pygame.h
  src_c/color.c
  src_c/newbuffer.c
Labels: Color, freetype, newbuffer

#1867 Restrict /analyze flag to only running on 3.8 x64 to speed up appveyor
  .appveyor.yml
Labels: needs-review

#1855 Freetype font int casting fix
  src_c/_freetype.c
Labels: freetype, needs-review

#1872 image.save stubs and documentation update for IO argument
  buildconfig/pygame-stubs/image.pyi
  docs/reST/ref/image.rst
Labels: docs, image, types

#1870 Add ljpeg and lpng to Setup.SDL2.in to avoid buildroot issue.
  buildconfig/Setup.SDL2.in
Labels: buildconfig

#1871 Use old OpenGL API on mac for pygame.examples.glcube
  examples/glcube.py
Labels: macosx, opengl

#1705 stop fighting SDL2 resizing code
  examples/resizing_new.py
  src_c/base.c
  src_c/display.c
  src_c/event.c
Labels: base, display, event

#1873 Add shader logging and mac fix to glcube example.
  examples/glcube.py
Labels: examples, opengl

#1875 Basic Surface.blit test for >16bit area args.
  test/surface_test.py
Labels: Surface, needs-review

#1864 Conan repo with custom sdl2 package
  .travis.yml
  buildconfig/conanconf/README.md
  buildconfig/conanconf/conanfile.txt
Labels: buildconfig, needs-review
