Repository pygame/pygame, pull requests merged in 2020-12, with the labels that each got.

#2368 Surface.convert tests updated in surface_test.py
  test/surface_test.py
Labels: Surface

#2366 Pathlib support for most pygame functions
  src_c/rwobject.c
  test/rwobject_test.py
Labels: needs-docs, needs-types

#2357 Major event refactor
  src_c/_pygame.h
  src_c/constants.c
  src_c/event.c
  src_c/mixer.c
  src_c/music.c
  src_c/time.c
  src_py/locals.py
  test/time_test.py
Labels: needs-docs, needs-tests, needs-types

#2311 Add K_AC_BACK key constant, fix data_file pruning and "STRIPPED" install.
  buildconfig/pygame-stubs/constants.pyi
  docs/reST/ref/key.rst
  setup.py
  src_c/constants.c
  src_py/locals.py
Labels: Android, buildconfig, key
