Repository pygame/pygame, pull requests merged in 2020-04, with the labels that each got.

#1577 Fix drawing ellipses with width values > 1
  src_c/draw.c
  test/draw_test.py
Labels: draw

#1583 Fix PixelArray compare() documentation
  docs/reST/ref/pixelarray.rst
Labels: docs

#1585 Fix PixelArray compare() method
  src_c/pixelarray_methods.c
  test/pixelarray_test.py
Labels: PixelArray

#1588 Add some Mask to_surface() tests
  test/mask_test.py
Labels: mask

#1590 Fix a surface LGTM alert
  src_c/surface.c
Labels: Surface

#1589 Fix audio device events
  src_c/event.c
  src_c/include/pgcompat.h
  test/event_test.py
Labels: event

#1629 Update windows dependencies. SDL 2.0.12, SDL_ttf 2.0.15, jpeg 9d.
  buildconfig/download_win_prebuilt.py
Labels: needs-review

#1641 Update manylinux dependencies. sdl, freetype, libpng, ogg, etc...
  buildconfig/manylinux-build/docker_base/freetype/build-freetype.sh
  buildconfig/manylinux-build/docker_base/freetype/freetype.sha512
  buildconfig/manylinux-build/docker_base/libpng/build-png.sh
  buildconfig/manylinux-build/docker_base/libpng/png.sha512
  buildconfig/manylinux-build/docker_base/libwebp/build-webp.sh
  buildconfig/manylinux-build/docker_base/libwebp/webp.sha512
  buildconfig/manylinux-build/docker_base/mpg123/build-mpg123.sh
  buildconfig/manylinux-build/docker_base/mpg123/mpg123.sha512
  buildconfig/manylinux-build/docker_base/ogg/build-ogg.sh
  buildconfig/manylinux-build/docker_base/ogg/ogg.sha512
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
Labels: needs-review

#1639 SDL2: Ensure that SDL_GetWindowSurface is called on flip (Request for review)
  src_c/base.c
  src_c/display.c
Labels: 2.0, SDL2, display, event
