Repository pygame/pygame, pull requests merged in 2022-06, with the labels that each got.

#3205 Fix Chimp tutorial code to use the correct module name alias
  docs/reST/tut/ChimpLineByLine.rst
Labels: docs, examples

#3187 Make latest pypy wheels on mac/linux, cibuildwheel on manylinux and other minor updates
  .circleci/config.yml
  .github/workflows/build-emsdk.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-ubuntu-sdist.yml
  .github/workflows/cppcheck.yml
  .github/workflows/format-lint.yml
  .github/workflows/manylinux.yml
  buildconfig/pip_config.ini
Labels: Awaiting Merge

#3181 Add SIMD versions of RGB & RGBA BLEND_MAX, BLEND_MIN blit modes
  src_c/alphablit.c
  src_c/simd_blitters.h
  src_c/simd_blitters_avx2.c
  src_c/simd_blitters_sse2.c
Labels: Surface, Performance

#3193 Use custom SDL2_ttf on Windows
  buildconfig/download_win_prebuilt.py
  test/fixtures/fonts/PlayfairDisplaySemibold.ttf
  test/font_test.py
Labels: font

#3225 sysfont.py: check for emscripten platform
  src_py/sysfont.py
Labels: Submodule: sysfont, Platform: WASM/Emscripten

#3219 Fix undefined name: get_python_inc()
  buildconfig/config_emsdk.py
  setup.cfg
Labels: buildconfig

#3236 Fix Vector memory leak
  src_c/math.c
Labels: Submodule: math, C code

#3203 wasm disable mutex usage, wasm CI updates
  .github/workflows/build-emsdk.yml
  setup.py
  src_c/event.c
  src_c/imageext.c
  src_c/time.c
Labels: Continuous Integration (CI), Platform: WASM/Emscripten

#3246 wasm: pygame.surfarray could load on 3.10.5 backport
  src_c/static.c
Labels: Submodule: surfarray, Platform: WASM/Emscripten

#3186 Refactor font.render
  src_c/font.c
  test/font_test.py
Labels: Submodule: font, Code robustness

#3248 Fix rumble returning wrong bool on error
  src_c/_sdl2/controller.c
  src_c/cython/pygame/_sdl2/controller.pyx
Labels: bug, Submodule: controller, Submodule: _sdl2

#3247 wasm: wrong logic masks pgExc_SDLError
  src_c/base.c
Labels: bug, Submodule: base, C code, Platform: WASM/Emscripten

#3244 Make textinput show a candidate list
  examples/textinput.py
Labels: Submodule: event, examples, Submodule: key

#3259 Improve palette operations
  docs/reST/ref/surface.rst
  src_c/surface.c
  test/surface_test.py
Labels: Submodule: Surface
