Repository pygame/pygame, pull requests merged in 2022-10, with the labels that each got.

#3470 Fix new mypy-0.981 fails
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/mypy_allow_list.txt
  buildconfig/stubs/pygame/constants.pyi
Labels: types, Linters

#3452 Fix pypy rect freelist issue, unskip tests
  src_c/rect.c
  test/rect_test.py
Labels: bug, Submodule: rect, pypy

#3473 Fix es folder location and fix some sphinx issues in ChimpanceLineaporLinea.rst
  docs/reST/index.rst
  docs/reST/tut/es/ChimpanceLineaporLinea.rst
  docs/reST/tut/es/chimpshot.gif
  docs/reST/tut/es/common.txt
Labels: bug, docs, Languages

#3492 Fixed segault in subclass of Sound
  src_c/mixer.c
  test/mixer_test.py
Labels: Submodule: mixer, segfault, C code

#3494 Relax strict pixel match tests in test_src_alpha_sdl2_blitter by allowing a small delta
  test/surface_test.py
Labels: Submodule: Surface, SDL2, tests

#3475 manylinux: Upgrade to SDL2-2.0.22
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
Labels: buildconfig, manylinux, Awaiting Merge

#3498 blitters fix compile error when no SIMD
  src_c/alphablit.c
  src_c/simd_blitters.h
  src_c/simd_blitters_avx2.c
  src_c/simd_blitters_sse2.c
Labels: bug, Submodule: Surface

#3484 Python 3.11 on mac/manylinux (with updated cibuildwheel)
  .circleci/config.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  buildconfig/macdependencies/clean_usr_local.sh
Labels: Platform: Gnu/Linux, Platform: MacOS, manylinux

#3496 Add debian s390x and ppc64le tests to CI
  .github/workflows/build-debian-multiarch.yml
  .github/workflows/build-ubuntu-sdist.yml
  buildconfig/config_unix.py
  src_c/SDL_gfx/SDL_gfxPrimitives.c
  src_c/mixer.c
  test/image_test.py
Labels: bug, Continuous Integration (CI)

#3511 docs: Add experimental feedback links to new APIs
  docs/reST/ref/font.rst
  docs/reST/ref/key.rst
  docs/reST/ref/math.rst
  docs/reST/ref/rect.rst
  docs/reST/ref/transform.rst
Labels: docs, New API
