Repository pygame/pygame, pull requests merged in 2022-05, with the labels that each got.

#3146 Updates to moveit.py example
  docs/reST/tut/MoveIt.rst
  examples/moveit.py
Labels: docs, examples

#3159 `get_fonts` stop returning `None`, warn `fc-list` issues
  src_py/sysfont.py
Labels: sysfont

#3105 pygame.h is in _sdl2 parent directory
  src_c/cython/pygame/_sdl2/controller.pyx
Labels: Cython, Python 3.11

#3192 Simplify some boolean handling
  src_c/draw.c
  src_c/font.c
  src_c/mixer.c
Labels: minor, Awaiting Merge

#3196 Fix DLL loading problems on Windows Store Python installations
  src_py/__init__.py
Labels: Awaiting Merge

#3191 wasm: fence simd/avx
  src_c/alphablit.c
Labels: Awaiting Merge

#3180 Remove custom JPEG saver
  README.rst
  src_c/imageext.c
Labels: image, Awaiting Merge

#3140 Improve clang format source file detection
  setup.py
  src_c/_sdl2/touch.c
Labels: Awaiting Merge
