Repository pygame/pygame, pull requests merged in 2022-02, with the labels that each got.

#2987 Misc fixes: Fix UCS_4 UCS4 typo, incorrect color methods export and display.c error handling bugs
  docs/reST/ref/font.rst
  src_c/color.c
  src_c/display.c
  test/font_test.py
  test/ftfont_test.py
Labels: display, font, Color, Awaiting Merge

#2978 Snake casify `_sdl2.video.Image.flipX` and `.flipY`
  buildconfig/pygame-stubs/_sdl2/video.pyi
  docs/reST/ref/sdl2_video.rst
  examples/sprite_texture.py
  src_c/_sdl2/audio.c
  src_c/_sdl2/controller.c
  src_c/_sdl2/mixer.c
  src_c/_sdl2/sdl2.c
  src_c/_sdl2/video.c
  src_c/_sprite.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/cython/pygame/_sdl2/video.pyx
  src_c/doc/sdl2_video_doc.h
Labels: Awaiting Merge, _sdl2

#3016 Removed unused imports
  buildconfig/vstools.py
  src_py/macosx.py
  src_py/pkgdata.py
Labels: python code, Code robustness, Awaiting Merge

#2919 Fix warnings, make warnings error on CI
  .github/workflows/build.yml
  .github/workflows/cppcheck.yml
  .github/workflows/format-lint.yml
  .github/workflows/manylinux.yml
  .github/workflows/ubuntu-sdist.yml
  setup.py
  src_c/_camera.c
  src_c/_freetype.c
  src_c/_pygame.h
  src_c/alphablit.c
  src_c/base.c
  src_c/bitmask.c
  src_c/bufferproxy.c
  src_c/camera.h
  src_c/camera_v4l2.c
  src_c/camera_windows.c
  src_c/display.c
  src_c/draw.c
  src_c/event.c
  src_c/font.c
  src_c/freetype/ft_layout.c
  src_c/freetype/ft_render.c
  src_c/freetype/ft_render_cb.c
  src_c/freetype/ft_wrap.c
  src_c/image.c
  src_c/imageext.c
  src_c/joystick.c
  src_c/mask.c
  src_c/math.c
  src_c/mixer.c
  src_c/mouse.c
  src_c/music.c
  src_c/pixelarray_methods.c
  src_c/pixelcopy.c
  src_c/rect.c
  src_c/rotozoom.c
  src_c/rwobject.c
  src_c/scrap.c
  src_c/scrap.h
  src_c/scrap_qnx.c
  src_c/scrap_sdl2.c
  src_c/scrap_win.c
  src_c/scrap_x11.c
  src_c/sdlmain_osx.m
  src_c/surface.c
  src_c/time.c
  src_c/transform.c
  test/base_test.py
Labels: bug, needs-review, Linters

#3014 C code cleanups + cdrom/overlay removal
  docs/reST/c_api/cdrom.rst
  src_c/_camera.c
  src_c/_pygame.h
  src_c/cdrom.c
  src_c/color.c
  src_c/display.c
  src_c/draw.c
  src_c/event.c
  src_c/include/_pygame.h
  src_c/joystick.c
  src_c/mask.c
  src_c/math.c
  src_c/mixer.c
  src_c/overlay.c
  src_c/rwobject.c
  src_c/surface.c
  src_c/surflock.c
  src_c/time.c
Labels: cdrom, C code, overlay, Awaiting Merge

#2911 Font rwops
  docs/reST/ref/font.rst
  src_c/font.c
  test/font_test.py
Labels: bug, enhancement, font, docs, Awaiting Merge

#2968 Add optional parameter 'consider_alpha' to the transform.average_colo…
  buildconfig/pygame-stubs/transform.pyi
  docs/reST/ref/transform.rst
  src_c/doc/transform_doc.h
  src_c/transform.c
  test/transform_test.py
Labels: transform

#3001 Add `__new__` and `__init__` functions for some types
  docs/reST/ref/event.rst
  src_c/_camera.c
  src_c/doc/event_doc.h
  src_c/event.c
  src_c/mixer.c
  src_c/time.c
Labels: C code, Awaiting Merge

#2929 Add .move_towards() for Vector2 and Vector3
  buildconfig/pygame-stubs/math.pyi
  docs/reST/ref/math.rst
  examples/README.rst
  examples/go_over_there.py
  src_c/doc/math_doc.h
  src_c/math.c
  test/math_test.py
Labels: enhancement, math

#3028 Save Surfaces with palettes as indexed 8P PNG
  src_c/imageext.c
  test/image_test.py
Labels: image, C code

#2953 Add some more events
  buildconfig/pygame-stubs/constants.pyi
  docs/reST/ref/event.rst
  src_c/_pygame.h
  src_c/constants.c
  src_c/event.c
  src_py/locals.py
Labels: event

#3059 Use github downloads for windows prebuilts downloads
  buildconfig/download_win_prebuilt.py
Labels: bug
