Repository pygame/pygame, pull requests merged in 2022-12, with the labels that each got.

#3599 Remove LGTM badges
  README.rst
Labels: docs

#3594 Fix `list_cameras` being empty on linux
  src_c/camera_v4l2.c
Labels: Submodule: camera, Awaiting Merge, Priority: HIGH

#3590 Fix some more math memory leaks
  src_c/math.c
Labels: Submodule: math, Awaiting Merge

#3611 Use Python 3.11.0 rather than 3.11rc2
  buildconfig/appveyor.yml
Labels: buildconfig

#3541 Add quickstart section to docs front page
  docs/reST/index.rst
  docs/reST/ref/code_examples/base_script.py
  docs/reST/ref/code_examples/base_script_example.py
Labels: docs, Awaiting Merge

#3276 Add premul_alpha method to surface
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/surface.rst
  src_c/alphablit.c
  src_c/doc/surface_doc.h
  src_c/simd_blitters.h
  src_c/simd_blitters_sse2.c
  src_c/surface.c
  src_c/surface.h
  test/surface_test.py
Labels: Submodule: Surface, Awaiting Merge, New API, SIMD

#3568 Add "window" attribute to DROPFILE and DROPTEXT event
  src_c/event.c
Labels: Submodule: event, C code, Awaiting Merge

#3616 Fix minor grammar and punctuation mistakes in tom_games6.rst
  docs/reST/tut/tom_games6.rst
Labels: docs, Awaiting Merge

#3559 Added `__round__` method for vectors
  buildconfig/stubs/pygame/math.pyi
  docs/reST/ref/math.rst
  src_c/math.c
  test/math_test.py
Labels: Submodule: math, Awaiting Merge, New API

#3567 Segfault fix in freetype.get_version
  src_c/_freetype.c
  src_c/freetype/ft_wrap.c
  src_c/freetype/ft_wrap.h
  test/freetype_test.py
Labels: Submodule: freetype, segfault, Awaiting Merge

#3548 Convert surface to texture's pixel format in `Texture.update`
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pyx
Labels: Submodule: video, Awaiting Merge

#3550 Performance improvement for draw.circle
  src_c/draw.c
Labels: Submodule: draw, Performance, Awaiting Merge

#3583 Fix build errors on win_arm64
  setup.py
  src_c/scale.h
Labels: Platform: Windows, buildconfig, Architecture: Arm

#3588 Consolidate SSE2 and NEON code paths
  src_c/alphablit.c
  src_c/simd_blitters_sse2.c
Labels: Code quality/robustness, Awaiting Merge, SIMD

#3620 Correct set_(shifts/masks) docs and cleanup code
  docs/reST/ref/surface.rst
  src_c/surface.c
Labels: C code, Awaiting Merge

#3625 Update README.rst
  README.rst
Labels: docs, Awaiting Merge

#3622 Deprecate gamma and _sdl2 window brightness functionality
  buildconfig/stubs/pygame/_sdl2/video.pyi
  docs/reST/ref/display.rst
  docs/reST/ref/sdl2_video.rst
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/cython/pygame/_sdl2/video.pyx
  src_c/display.c
  src_c/doc/sdl2_video_doc.h
  test/display_test.py
Labels: Submodule: display, Submodule: video, Deprecation Warning, Awaiting Merge

#3633 Change all (to|from)string to (to|from)bytes in image.c
  src_c/image.c
Labels: Submodule: image, Awaiting Merge

#3647 Update docs generation to sphinx 6.0
  docs/reST/themes/classic/elements.html
Labels: docs

#3618 Raise minimum SDL version to 2.0.8
  README.rst
  src_c/constants.c
  src_c/display.c
  src_c/event.c
  src_c/pgcompat.c
  src_c/pgcompat.h
  test/event_test.py
Labels: C code, Awaiting Merge
