Repository pygame/pygame, pull requests merged in 2022-04, with the labels that each got.

#3104 missing pointer cast fix
  src_c/image.c
Labels: Awaiting Merge

#3115 mouse_get_pos takes no argument
  src_c/mouse.c
Labels: mouse

#3094 Small fixes to the documentation header
  docs/reST/themes/classic/elements.html
  docs/reST/themes/classic/static/pygame.css_t
Labels: docs

#3052 Don't raise python errors in v4l2_read_frame
  src_c/_camera.c
  src_c/camera.h
  src_c/camera_v4l2.c
Labels: Awaiting Merge

#3106 fix name/definition conflict for pgSurface_New
  src_c/surface.c
Labels: Surface, C code

#3095 pygame.font.get_ttf_version() request from issue 3087
  buildconfig/stubs/pygame/font.pyi
  docs/reST/ref/font.rst
  src_c/doc/font_doc.h
  src_c/font.c
  test/font_test.py
Labels: font

#3063 Event tests and types improvements (Minor event refactor part 3)
  buildconfig/stubs/pygame/event.pyi
  test/event_test.py
Labels: Awaiting Merge

#3129 Justice for DOUBLEBUF
  docs/reST/ref/display.rst
Labels: docs, Awaiting Merge

#3127 Make pgBuffer_Release retain previously set errors
  src_c/base.c
Labels: freetype, C code, Awaiting Merge

#3132 Change renderer names to strings in `get_drivers`
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pyx
Labels: Awaiting Merge

#3118 Takeover of PR #2718 by @davidpendergast
  docs/reST/tut/newbieguide.rst
Labels: docs

#2988 SIMD version of BLEND_RGBA_MULT for 32bit surfaces
  buildconfig/Setup.SDL2.in
  setup.py
  src_c/_blit_info.h
  src_c/alphablit.c
  src_c/simd_blitters.h
  src_c/simd_blitters_avx2.c
  src_c/simd_blitters_sse2.c
  src_c/surface.h
  test/surface_test.py
Labels: Surface, Performance, Awaiting Merge

#3137 update constants.c to clang-format version 14.0
  src_c/constants.c
Labels: tooling, Linters, Awaiting Merge

#3100 Add `pygame.context` module
  README.rst
  buildconfig/Setup.SDL2.in
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/context.pyi
  docs/reST/ref/context.rst
  src_c/context.c
  src_c/doc/context_doc.h
  src_py/__init__.py
  test/context_test.py
Labels: Awaiting Merge

#3038 Add `pygame.get_preferred_locales`
  buildconfig/stubs/pygame/context.pyi
  docs/reST/ref/context.rst
  src_c/context.c
  src_c/doc/context_doc.h
  test/context_test.py
Labels: context

#3026 Proposal: add Rect.collidelistallobjects that returns the colliding objects
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/constants.pyi
  buildconfig/stubs/pygame/rect.pyi
  docs/reST/ref/rect.rst
  src_c/doc/rect_doc.h
  src_c/rect.c
  test/rect_test.py
Labels: rect

#3142 Remove Solaris compatibility code to re-enable SIGALARM
  src_c/base.c
Labels: Gnu/Linux

#3148 Raise only pygame.error when mixer loading fails
  src_c/mixer.c
Labels: mixer

#3158 Fixed windows version parsing in Camera that errored on versions like 8.1
  src_py/camera.py
Labels: camera, Windows
