Repository pygame/pygame, pull requests merged in 2022-07, with the labels that each got.

#3184 Included user fonts for pygame.font.match_font() for Windows
  docs/reST/ref/font.rst
  src_py/sysfont.py
Labels: Platform: Windows, Submodule: sysfont

#3266 Add SysFont pygame.font.get_fonts() verification test
  test/font_test.py
Labels: Submodule: font, tests (module), Submodule: sysfont

#3280 wasm: fix build when no PREFIX variable is defined
  buildconfig/config_emsdk.py
Labels: buildconfig, Platform: WASM/Emscripten

#3272 Fix controller build on SDL < 2.0.9
  src_c/_sdl2/controller.c
  src_c/controllercompat.c
  src_c/cython/pygame/_sdl2/controller.pxd
  src_c/cython/pygame/_sdl2/controller.pyx
Labels: C code, buildconfig, Submodule: controller

#3256 Adds a unit test for display.gl_set_attribute()
  test/display_test.py
Labels: Submodule: display, opengl

#3286 Fixed docs for math.Vector2.cross()
  buildconfig/stubs/pygame/math.pyi
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
Labels: docs, Submodule: math, types

#3138 Sprite typestub updates, use generics and protocols
  buildconfig/stubs/pygame/sprite.pyi
Labels: Submodule: sprite, types

#3092 Adjusted examples and rewrote documentation accordingly
  docs/reST/tut/MoveIt.rst
  examples/arraydemo.py
  examples/camera.py
  examples/font_viewer.py
  examples/moveit.py
  examples/scroll.py
Labels: examples, needs-review

#3294 More efficiently track pixels in AVX blitters
  src_c/simd_blitters_avx2.c
Labels: Submodule: Surface, Performance

#3295 Fix new static analyzer (VS 2022) warnings
  src_c/display.c
  src_c/pixelarray_methods.c
Labels: C code, Code robustness

#3300 removed pts array in aaline()
  src_c/draw.c
Labels: Submodule: draw

#3304 wasm: add pygame.gfxdraw to static preloader
  src_c/static.c
Labels: Submodule: gfxdraw, Platform: WASM/Emscripten

#3239 Raise minimum SDL to 2.0.4, patch so it can build on that
  README.rst
  src_c/constants.c
  src_c/display.c
  src_c/event.c
  src_c/include/pgcompat.h
Labels: C code, buildconfig

#3329 Restore correct checksum
  buildconfig/download_win_prebuilt.py
Labels: buildconfig, Priority: HIGH

#3228 setup.py: fix user+deprecation warnings on 3.11+
  setup.py
Labels: buildconfig

#3325 Add FASTCALL compat macros, update Color.update to use the same
  src_c/_pygame.h
  src_c/color.c
Labels: C code, Performance

#3313 some wrong relative imports in cython code
  src_c/_sdl2/audio.c
  src_c/_sdl2/controller.c
  src_c/_sdl2/mixer.c
  src_c/cython/pygame/_sdl2/audio.pyx
  src_c/cython/pygame/_sdl2/controller.pyx
  src_c/cython/pygame/_sdl2/mixer.pyx
Labels: Code robustness, Cython

#3312 Add use_compat to key.name, fix key_code compat issues
  buildconfig/stubs/pygame/key.pyi
  docs/reST/ref/key.rst
  src_c/doc/key_doc.h
  src_c/key.c
  test/key_test.py
Labels: Submodule: key

#3284 Add srcrect NULL check to pgSurface_Blit
  src_c/surface.c
Labels: Submodule: Surface

#3338 adding BGRA format for pycairo compatibility
  buildconfig/stubs/pygame/image.pyi
  docs/reST/ref/image.rst
  src_c/image.c
  test/image_test.py
Labels: Submodule: image

#3296 Move alphabit.c SSE2 blitters to main SSE2 file
  src_c/alphablit.c
  src_c/simd_blitters.h
  src_c/simd_blitters_sse2.c
Labels: Code robustness

#3314 conservative blits() improvements
  src_c/surface.c
Labels: Submodule: Surface, Performance

#3335 Optimized _vector_distance_helper
  src_c/math.c
  test/math_test.py
Labels: Submodule: math, Performance, Code robustness

#3347 Use macos-12 for all Mac CI builds
  .github/workflows/build-macos.yml
  src_c/display.c
Labels: Continuous Integration (CI)

#3321 added aliases for pygame.image.(to|from)string
  buildconfig/stubs/pygame/image.pyi
  docs/reST/ref/image.rst
  src_c/doc/image_doc.h
  src_c/image.c
  test/image_test.py
Labels: Submodule: image

#3344 Remove constants repetition and duplicate define
  src_c/constants.c
  src_py/locals.py
Labels: Submodule: locals

#3326 Add clamp(val, min, max) function to pygame.math
  buildconfig/stubs/pygame/math.pyi
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
  src_c/math.c
  test/math_test.py
Labels: Submodule: math

#3342 BGRA format added to fromstring & tostring
  buildconfig/stubs/pygame/image.pyi
  docs/reST/ref/image.rst
  src_c/image.c
  test/image_test.py
Labels: Submodule: image, Awaiting Merge
