Repository pygame/pygame, pull requests merged in 2022-08, with the labels that each got.

#3364 Use memcpy and memset when appropriate
  src_c/color.c
  src_c/math.c
  src_c/pixelarray_methods.c
  src_c/transform.c
Labels: C code, Code robustness

#3349 SDL_UCS4ToUTF8 may exist from SDL_keyboard.c
  src_c/key.c
Labels: Platform: WASM/Emscripten

#3359 edited docs for pygame.Vector2.angle_to
  docs/reST/ref/code_examples/angle_to.png
  docs/reST/ref/math.rst
Labels: docs, Submodule: math

#3352 Deprecate `Color.set_length`
  docs/reST/ref/color.rst
  src_c/color.c
  test/color_test.py
Labels: Submodule: color, needs-review, Deprecation Warning, Awaiting Merge

#3376 Vendor in SDL PNG save function, fix new 2.1.3 regression
  src_c/imageext.c
  test/image_test.py
  test/test_utils/png.py
Labels: Submodule: image, Awaiting Merge, Priority: HIGH

#3375 Merge 32/64bit SSE blitter codepaths
  src_c/simd_blitters_sse2.c
Labels: Submodule: Surface, Code robustness, Awaiting Merge

#3373 Docs/vector epsilon
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
Labels: docs, Submodule: math, Awaiting Merge

#3382 fixed run_tests.py | Quiet bug catch.
  test/test_utils/run_tests.py
Labels: tests (module)

#3391 changed the f strings (sysfont.py)
  src_py/sysfont.py
Labels: Submodule: sysfont

#3388 setup.py | io module no longer used.
  setup.py
Labels: buildconfig

#3385 Update DisplayModes.rst - PEP Changes
  docs/reST/tut/DisplayModes.rst
Labels: docs

#3366 Fix some METH_NOARGS usage, use METH_O where possible
  src_c/display.c
  src_c/event.c
  src_c/font.c
  src_c/mask.c
  src_c/mixer.c
  src_c/mouse.c
  src_c/surface.c
  src_c/time.c
Labels: C code, Code robustness, Awaiting Merge

#3361 Make pygame.math.clamp only take numbers
  buildconfig/stubs/pygame/math.pyi
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
  src_c/math.c
  test/math_test.py
Labels: Submodule: math, Awaiting Merge

#3384 Fix tests that had overshadowed names
  test/freetype_test.py
  test/math_test.py
  test/pixelcopy_test.py
  test/touch_test.py
Labels: tests (module), Awaiting Merge

#3319 scale(), scale_by(), smoothscale(), smoothscale_by() reorganization and speed up
  src_c/transform.c
Labels: Submodule: transform, Code quality/robustness

#3397 config_unix.py | deleted unused import of module
  buildconfig/config_unix.py
Labels: python code, Awaiting Merge

#3400 Fix edge case bug in Vector move towards, add more tests
  src_c/math.c
  test/math_test.py
Labels: bug, Submodule: math

#3416 Go back to old memcpy strategy for non-flip flip
  src_c/transform.c
Labels: Submodule: transform

#3414 Fix incref issue in PixelArray context manager API
  src_c/pixelarray_methods.c
  test/pixelarray_test.py
Labels: bug, Submodule: PixelArray

#3042 Update some deps in manylinux scripts
  buildconfig/manylinux-build/build-wheels.sh
  buildconfig/manylinux-build/docker_base/Dockerfile-aarch64
  buildconfig/manylinux-build/docker_base/Dockerfile-i686
  buildconfig/manylinux-build/docker_base/Dockerfile-x86_64
  buildconfig/manylinux-build/docker_base/alsa/alsa.sha512
  buildconfig/manylinux-build/docker_base/alsa/build-alsa.sh
  buildconfig/manylinux-build/docker_base/cmake/build-cmake.sh
  buildconfig/manylinux-build/docker_base/flac/build-flac.sh
  buildconfig/manylinux-build/docker_base/flac/flac.sha512
  buildconfig/manylinux-build/docker_base/fluidsynth/build-fluidsynth.sh
  buildconfig/manylinux-build/docker_base/fluidsynth/fluidsynth.sha512
  buildconfig/manylinux-build/docker_base/freetype/build-freetype.sh
  buildconfig/manylinux-build/docker_base/freetype/freetype.sha512
  buildconfig/manylinux-build/docker_base/harfbuzz/build-harfbuzz.sh
  buildconfig/manylinux-build/docker_base/harfbuzz/harfbuzz.sha512
  buildconfig/manylinux-build/docker_base/libjpegturbo/build-jpeg-turbo.sh
  buildconfig/manylinux-build/docker_base/libjpegturbo/libjpegturbo.sha512
  buildconfig/manylinux-build/docker_base/libmodplug/build-libmodplug.sh
  buildconfig/manylinux-build/docker_base/libtiff/build-tiff.sh
  buildconfig/manylinux-build/docker_base/libtiff/tiff.sha512
  buildconfig/manylinux-build/docker_base/libwebp/build-webp.sh
  buildconfig/manylinux-build/docker_base/libwebp/webp.sha512
  buildconfig/manylinux-build/docker_base/mpg123/build-mpg123.sh
  buildconfig/manylinux-build/docker_base/mpg123/mpg123.sha512
  buildconfig/manylinux-build/docker_base/portmidi/build-portmidi.sh
  buildconfig/manylinux-build/docker_base/portmidi/mac.patch
  buildconfig/manylinux-build/docker_base/portmidi/mac_arm64.patch
  buildconfig/manylinux-build/docker_base/portmidi/no-java.patch
  buildconfig/manylinux-build/docker_base/portmidi/portmidi.sha512
  buildconfig/manylinux-build/docker_base/pulseaudio/build-pulseaudio.sh
  buildconfig/manylinux-build/docker_base/pulseaudio/pulseaudio.sha512
  buildconfig/manylinux-build/docker_base/pypy/getpypy32.sh
  buildconfig/manylinux-build/docker_base/pypy/getpypy64.sh
  buildconfig/manylinux-build/docker_base/pypy/pypy32.sha512
  buildconfig/manylinux-build/docker_base/pypy/pypy64.sha512
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  buildconfig/manylinux-build/docker_base/sndfile/build-sndfile.sh
  buildconfig/manylinux-build/docker_base/sndfile/sndfile.sha512
  buildconfig/manylinux-build/docker_base/zlib-ng/build-zlib-ng.sh
  buildconfig/manylinux-build/docker_base/zlib-ng/zlib-ng.sha512
  buildconfig/manylinux-build/docker_base/zlib/build-zlib.sh
  buildconfig/manylinux-build/docker_base/zlib/zlib.sha512
Labels: dependencies, manylinux

#3381 fix CPython was built with clang instead of gcc
  setup.py
Labels: buildconfig

#3428 Relax SDL minor version exact match check
  src_c/base.c
Labels: bug, SDL2, Submodule: base

#3431 Clean bash-completion file in macdeps builds
  buildconfig/macdependencies/clean_usr_local.sh
Labels: Platform: MacOS, Continuous Integration (CI), buildconfig
