Repository pygame/pygame, pull requests merged in 2022-11, with the labels that each got.

#3370 Tracking SSE2 Optimisations
  src_c/simd_blitters_sse2.c
Labels: Submodule: Surface, Performance

#3530 Move pg_tuple_from_values_int into header, rename & add triple variant
  src_c/include/_pygame.h
  src_c/rect.c
Labels: C code, Code quality/robustness

#3424 mouse.get_pos(), mouse.get_rel() optimizations
  src_c/mouse.c
Labels: Submodule: mouse, Performance

#3554 Minor typo in the "pygame.Color" docs
  docs/reST/ref/color.rst
Labels: docs, Submodule: color

#3553 Remove Python < 3.2 compatibility shim
  test/mask_test.py
  test/mixer_test.py
  test/surface_test.py
  test/test_utils/__init__.py
Labels: tests, python code

#3549 docs: fix links
  docs/reST/index.rst
  docs/reST/ref/mouse.rst
  docs/reST/ref/scrap.rst
  docs/reST/ref/transform.rst
  docs/reST/tut/MakeGames.rst
  docs/reST/tut/PygameIntro.rst
  docs/reST/tut/SurfarrayIntro.rst
  docs/reST/tut/ko/빨간블록 검은블록/4.텍스트 조종/기초 입력.rst
  docs/reST/tut/tom_games3.rst
  docs/reST/tut/tom_games6.rst
Labels: docs

#3558 Add info on viewing pygame docs locally
  README.rst
Labels: docs

#3426 Modify key compat table to store key-name pairs (fixes a rare bug)
  src_c/key.c
Labels: bug, Submodule: key

#3577 Adjust surface masks to create a proper 24 bit Surface
  test/surface_test.py
Labels: Submodule: Surface, tests

#3322 Improved colliderect() function
  src_c/rect.c
Labels: Submodule: rect, Performance
