Repository pygame/pygame, pull requests merged in 2022-09, with the labels that each got.

#3401 Optimized rect getters
  src_c/rect.c
Labels: Submodule: rect, Performance

#3440 Delete rect subscripts should error not segfault
  src_c/rect.c
  test/rect_test.py
Labels: bug, Submodule: rect, C code, Awaiting Merge

#3396 Vector clamp shouldn't allow kwargs, improve error reporting and unit tests
  buildconfig/stubs/pygame/math.pyi
  docs/reST/ref/math.rst
  src_c/math.c
  test/math_test.py
Labels: bug, enhancement, Submodule: math, tests, Performance, New API

#3317 Make sure set_mode always returns a cleared window
  docs/reST/ref/display.rst
  src_c/display.c
Labels: bug, Submodule: display, Compatability (Pygame 2)

#3434 Improved mixer.set_reserved() documentation
  docs/reST/ref/mixer.rst
Labels: Submodule: mixer, docs

#3378 SSE alpha blitter optimization
  src_c/simd_blitters_sse2.c
Labels: Submodule: Surface, Performance

#3421 Add Spanish translation of chimp tutorial
  es/ChimpanceLineaporLinea.rst
  es/chimpshot.gif
Labels: docs, examples, Languages

#3433 Update and sync `SDL_mixer` and `SDL_ttf` to 2.6.2 and 2.20.1 respectively
  buildconfig/config_win.py
  buildconfig/download_win_prebuilt.py
  buildconfig/macdependencies/build_mac_deps.sh
  buildconfig/macdependencies/clean_usr_local.sh
  buildconfig/manylinux-build/docker_base/Dockerfile-aarch64
  buildconfig/manylinux-build/docker_base/Dockerfile-i686
  buildconfig/manylinux-build/docker_base/Dockerfile-x86_64
  buildconfig/manylinux-build/docker_base/opus/build-opus.sh
  buildconfig/manylinux-build/docker_base/opus/opus.sha512
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
Labels: Submodule: mixer, Submodule: mixer.music, Submodule: font, buildconfig, manylinux, SDL_mixer

#3445 Compile freetype with harfbuzz, reduce manylinux wheelsize
  buildconfig/macdependencies/build_mac_deps.sh
  buildconfig/manylinux-build/docker_base/Dockerfile-aarch64
  buildconfig/manylinux-build/docker_base/Dockerfile-i686
  buildconfig/manylinux-build/docker_base/Dockerfile-x86_64
  buildconfig/manylinux-build/docker_base/alsa/build-alsa.sh
  buildconfig/manylinux-build/docker_base/brotli/build-brotli.sh
  buildconfig/manylinux-build/docker_base/fluidsynth/build-fluidsynth.sh
  buildconfig/manylinux-build/docker_base/freetype/build-freetype.sh
  buildconfig/manylinux-build/docker_base/freetype/freetype.sha512
  buildconfig/manylinux-build/docker_base/harfbuzz/build-harfbuzz.sh
  buildconfig/manylinux-build/docker_base/harfbuzz/harfbuzz.sha512
  buildconfig/manylinux-build/docker_base/libjpegturbo/build-jpeg-turbo.sh
  buildconfig/manylinux-build/docker_base/libtiff/build-tiff.sh
  buildconfig/manylinux-build/docker_base/ogg/build-ogg.sh
  buildconfig/manylinux-build/docker_base/pkg-config/build-pkg-config.sh
  buildconfig/manylinux-build/docker_base/pkg-config/pkg-config.sha512
  buildconfig/manylinux-build/docker_base/portmidi/build-portmidi.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/strip-lib-so-files.sh
  buildconfig/manylinux-build/docker_base/zlib-ng/build-zlib-ng.sh
Labels: bug, Submodule: font, Submodule: freetype, buildconfig, manylinux

#3453 Freshen up arraydemo.py
  examples/arraydemo.py
Labels: examples

#3455 Refactor `examples/mask.py`
  examples/mask.py
Labels: examples, Submodule: mask
