Repository pygame/pygame, pull requests merged in 2022-01, with the labels that each got.

#2964 Add pixel format name into display info
  src_c/display.c
Labels: display, Awaiting Merge

#2957 2.1.2
  README.rst
  docs/reST/conf.py
  setup.py
  src_c/include/_pygame.h
Labels: Awaiting Merge

#2975 Fix path dependencies
  buildconfig/config_unix.py
Labels: buildconfig

#2958 Add test for pygame.locals
  src_py/locals.py
  test/locals_test.py
Labels: tests (module)

#2965 Fix Pygame imported class typehints
  buildconfig/pygame-stubs/__init__.pyi
Labels: Awaiting Merge

#2961 fix some bugs in camera.py
  src_py/camera.py
Labels: camera, Awaiting Merge

#2952 clean modinit code, fix bugs, use recommended API
  src_c/_camera.c
  src_c/_freetype.c
  src_c/base.c
  src_c/bufferproxy.c
  src_c/color.c
  src_c/constants.c
  src_c/event.c
  src_c/font.c
  src_c/gfxdraw.c
  src_c/joystick.c
  src_c/key.c
  src_c/mask.c
  src_c/math.c
  src_c/mixer.c
  src_c/mouse.c
  src_c/music.c
  src_c/newbuffer.c
  src_c/pixelarray.c
  src_c/rect.c
  src_c/rwobject.c
  src_c/sdlmain_osx.m
  src_c/surface.c
  src_c/surflock.c
Labels: C code, Awaiting Merge

#2959 Update the image doc, delineate bytes and str
  buildconfig/pygame-stubs/image.pyi
  docs/reST/ref/image.rst
  src_c/doc/image_doc.h
  src_c/image.c
Labels: image, Awaiting Merge

#3000 adding missing copy test for Vector3
  test/math_test.py
Labels: math, tests (module)
