Repository pygame/pygame, pull requests merged in 2023-02, with the labels that each got.

#3689 Update linter ubuntu version
  .github/workflows/format-lint.yml
Labels: buildconfig

#3648 Update sprite.rst
  docs/reST/ref/sprite.rst
Labels: Submodule: sprite

#3497 Re-order display fullscreen handling and ensure toggle_fullscreen works for maximized window
  src_c/display.c
Labels: Submodule: display, Awaiting Merge

#3609 Don't set adaptive vsync by default
  src_c/display.c
Labels: Compatability (Pygame 2)

#3605 Add support for ppc64le
  buildconfig/manylinux-build/Makefile
  buildconfig/manylinux-build/build-wheels.sh
  buildconfig/manylinux-build/docker_base/Dockerfile-ppc64le
Labels: buildconfig

#3387 Example games fixed | Fixed UnicodeDecodeError for music_drop_fade.py…
  examples/README.rst
  examples/go_over_there.py
  examples/sprite_texture.py
Labels: examples

#3495 pgScancodeWrapper now raises exception when trying to use __iter__
  docs/reST/ref/key.rst
  src_c/key.c
  test/key_test.py
Labels: bug, key

#3489 Suggested improvement to font_init
  docs/reST/ref/font.rst
  src_c/doc/font_doc.h
  src_c/font.c
  src_py/ftfont.py
  test/font_test.py
Labels: font, needs-review, C code, New API

#3556 grayscale for Surfaces and Colors
  buildconfig/stubs/pygame/transform.pyi
  docs/reST/ref/color.rst
  docs/reST/ref/transform.rst
  src_c/color.c
  src_c/doc/color_doc.h
  src_c/doc/transform_doc.h
  src_c/transform.c
  test/color_test.py
  test/transform_test.py
Labels: transform, New API

#2981 "SDL_CreateWindowFrom" in "display" module
  src_c/display.c
Labels: display, Compatability (Pygame 2)

#3723 Add a simple check for mypy
  .github/workflows/build-macos.yml
  buildconfig/stubs/pygame/math.pyi
  examples/testsprite.py
Labels: math, types

#3724 manylinux: Revert compiling harfbuzz on MacOS
  buildconfig/manylinux-build/docker_base/freetype/build-freetype.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
Labels: bug, font, Platform: MacOS

#3722 Add `special_flags` argument to `Group.draw`
  buildconfig/stubs/pygame/sprite.pyi
  docs/reST/ref/sprite.rst
  src_c/doc/sprite_doc.h
  src_py/sprite.py
Labels: enhancement, sprite
