Repository pygame/pygame, pull requests merged in 2023-03, with the labels that each got.

#3458 buildconfig: Bump SDL version to 2.24.0 on windows
  buildconfig/download_win_prebuilt.py
Labels: buildconfig

#3738 _camera_opencv: Add list_cameras implementation
  src_py/_camera_opencv.py
Labels: bug, enhancement, camera

#3663 Fixup deprecation error on MacOS 11
  src_c/sdlmain_osx.m
Labels: scrap, Platform: MacOS

#3739 _camera_opencv: Add ability to pass VidCapture api_preferences
  src_py/_camera_opencv.py
Labels: enhancement, camera

#3743 camera: Make opencv backend default on win if cv2 imports
  src_py/_camera_opencv.py
  src_py/camera.py
Labels: camera

#3077 Features/rect/scaleby
  buildconfig/stubs/pygame/rect.pyi
  docs/reST/ref/rect.rst
  src_c/doc/rect_doc.h
  src_c/rect.c
  test/rect_test.py
Labels: enhancement, rect, feature request, needs-review

#3362 Implement pygame.math.lerp
  buildconfig/stubs/pygame/math.pyi
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
  src_c/math.c
  test/math_test.py
Labels: math, New API

#3151 Fix drawing of circles there intersect -+INT_MAX
  src_c/draw.c
Labels: draw, needs-new-owner

#3278 Add support for Windows ARM64
  .gitignore
  buildconfig/config_win.py
  buildconfig/download_win_prebuilt.py
  setup.py
  src_c/alphablit.c
  src_c/simd_blitters.h
  src_c/simd_blitters_avx2.c
Labels: Platform: Windows, buildconfig, Architecture: Arm

#3772 sysfont: Fix sysfont on macos on failure of fc-list
  src_py/sysfont.py
Labels: sysfont
