Repository pygame/pygame, pull requests merged in 2023-01, with the labels that each got.

#3641 Replace `music.set_pos` current error message with `SDL_GetError()`
  src_c/music.c
Labels: Submodule: mixer.music, Awaiting Merge

#3657 Fixed typo in `pygame.image.tobytes` docs
  docs/reST/ref/image.rst
Labels: docs, Awaiting Merge

#3666 fixed segfault
  src_c/pixelarray.c
  src_c/pixelarray_methods.c
  test/pixelarray_test.py
Labels: Submodule: PixelArray, segfault

#3642 Fix event button attr for fast mousewheel
  src_c/event.c
Labels: Submodule: mouse

#3655 Change casting to `list` to using `copy` in `pygame.sprite`
  src_py/sprite.py
Labels: Submodule: sprite, Awaiting Merge

#3617 Remove bit of MIR code
  src_c/display.c
Labels: Submodule: display, C code, Awaiting Merge

#3395 Fix scrap typing (use only `bytes` and not `AnyStr`)
  buildconfig/stubs/pygame/scrap.pyi
Labels: Submodule: scrap, types

#3593 wasm: clean up for #3439
  .github/workflows/build-emsdk.yml
  buildconfig/config_emsdk.py
Labels: buildconfig, Platform: WASM/Emscripten

#3649 Fix the memory leak
  docs/reST/c_api/rwobject.rst
  src_c/_freetype.c
  src_c/_pygame.h
  src_c/font.c
  src_c/image.c
  src_c/imageext.c
  src_c/include/_pygame.h
  src_c/mixer.c
  src_c/music.c
  src_c/rwobject.c
Labels: rwops, Awaiting Merge, somewhat-important
